body {
    margin: 0;
    padding: 0;
    background-color: #F0EBF4;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 10px;
    place-items: normal !important;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    justify-content: center;
}

#root {
    bottom: 0;
    padding-top: 0;
}

/*
.home-page {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-top: 60px;
    margin-left: 60px;
}

.home-page p {
    display: block;
    width: 100%;
}*/

body button {
    background-color: #f371a1;
    color: #F0EBF4;
}

nav {
    /* width: 100%; */
    z-index: 1;
    top: 0;
    background-color: #F172A1;
    position: absolute;
    right: 0;
    left: 0;
    height: 5em;
    display: flex;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

nav i {
    margin: auto 0 auto 10px;
    padding: 15px;
    transition: transform 1s;
    color: #F0EBF4;
}

nav i:hover {
    background-color: #F172A1;
    border-radius: 26px;
    transform: rotate(360deg);
}

nav h5 {
    margin: auto;
    margin-right: 5px;
}

aside {
    overflow-x: hidden;
    width: 0;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #A1C3D1;
    transition: width 0.5s ease-in-out;
    height: auto;
    z-index: 0;
}

.divCard {
    margin: 10px;
    width: 276px;
    display: inline-block;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    display: flex;
    align-items: center;
    color: #F0EBF4;
    padding: 12px 0 12px 22px;
    font-weight: 400;
    transition: transform 1s;
    cursor: pointer;
    height: 92px;
}

aside ul li i {
    margin-right: 1em;
}

aside ul li:hover {
    transition: transform 0.1s ease;
}

.drawerMin {
    width: 70px;
}

.drawerOpen {
    margin-top: 35px;
    width: 240px;
}

main {
    position: absolute;
    top: 80px;
    padding: 1em;
    margin-left: 0;
    bottom: 0;
    overflow-y: auto;
    transition: margin-left 0.5s ease-in-out;
}

.mainMin {
    margin-left: 70px;
}

.mainOpen {
    margin-left: 240px;
}

.child {
    background-color: #A1C3D1;
}

.album,
.child {
    padding: 15px;
    margin: 30px;
    border-radius: 5px;
}

.childContanier {
    display: flex;
    margin-left: 80px;
}

.cardDiv {
    width: 300px;
    display: inline-block;
    margin: 1%;
}

.card {
    background-color: #A1C3D1;
    color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    width: 100%;
    display: flex;
}

.footer {
    background-color: #B39BC8;
    color: #FFFFFF;
    padding: 8px;
    margin: 5px;
}

.button {
    background-color: #F172A1;
    color: #F172A1;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

input,
select {
    background-color: #F0EBF4;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

label {
    color: #000000;
}

img,
video {
    border-radius: 4px;
    max-height: 184.3px;
    width: auto;
    object-fit: contain;
    object-position: center center;
}

.sticky {
    overflow: hidden;
}

.icon,
.imgItem {
    font-size: 40px;
    margin: 15px;
}

.imgItem {
    width: 200px;
}

.help-li {
    height: 70px;
}

.css-uym98a-MuiImageList-root {
    height: auto;
}

form {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    border: 1px solid #B39BC8;
    padding: 15px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.search-sort .input-con {
    width: 50%;
    margin: 0 auto;
    margin-left: 5px;
    width: 100%;
    display: flex;
}
.input-con{
    justify-content: center;
    width: 50%;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #F172A1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f0528c;
}

.divCard:hover {
    background-color: #A1C3D1;
}

.imgeGallery {
    display: block;
    margin: 20px;
    height: auto;
}

.sticky h5 {
    color: #F0EBF4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-page {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
}

.home-page h1 {
    color: #F172A1;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    text-decoration: wavy;
    text-shadow:
        -1px -1px 0 #F172A1,
        1px -1px 0 #F172A1,
        -1px 1px 0 #F172A1,
        1px 1px 0 #000;
}

.search,
.sort {
    display: block;
}

.search-sort {
    margin: 20px;
    margin-left: 5px;
    width: 100%;
    background-color: #F172A1;
    right: 0;
    left: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.search-sort label {
    color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.search-sort select {
    color: #f0f0f0;
    background-color: #F172A1;
    margin: 10px;
    margin-left: 15px;
    width: 200px;
    border-radius: 2px;
}

.home-page h2 {
    color: #333;
    margin-bottom: 10px;
}

.home-page p {
    color: #666;
    line-height: 1.6;
}

.home-page p:last-child {
    margin-top: 20px;
    font-size: 0.9em;
    color: #999;
}

.gallery-display-button {
    margin: 20px
}

.album {
    width: 800px;
}

@media only screen and (max-width: 768px) {
    .timeLine {
        margin-left: 70px;
    }

    .timeLineItem {
        width: 180px;
    }

    .gallery-display-button {
        display: none;
        margin: 20px;
    }

    .childContanier {
        display: block;
    }

    .album {
        padding: 10px;
        margin: 5px;
        margin-left: 25px;
    }

    img {
        width: 100%
    }

    .imgItem {
        width: 150px;
    }

    .card {
        margin: 4px;
    }

    .footer {
        padding: 6px;
        margin: 4px;
    }

    .button {
        padding: 4px 8px;
    }

    .input {
        padding: 4px;
        margin: 4px;
    }

    .container {
        width: 300px;
    }

    .search-sort {
        width: min-content;
        margin-left: 70px;
    }

    .album {
        width: auto;
    }
}